<div class="container">
    <div class="nav-container">
        <div class="logo-container">
            <span class="logo-s">f-</span>
            <span class="logo-e">Store</span>
        </div>
        <div class="nav-link-container">
            <span class="nav-link">Home</span>
            <span class="nav-link">Products</span>
            <span class="nav-link">About</span>
            <span class="nav-link">Contact</span>
        </div>
        <div class="nav-control-container">
            <div class="search-container">
                <input *ngIf="showSearchInput"  @expandHorizontal class="search-input" placeholder="Search" type="text">
            </div>
            <button class="search-btn" (click)="toggleSearchMode()">
                <span class="material-symbols-outlined">search</span>
            </button>
        </div>
        <div class="nav-mobile-menu" (click)="toggleNavMode()">
            <span class="material-symbols-outlined non-selectable">{{ NavMenuIcon }}</span>
        </div>
    </div>
    <div *ngIf="showMobileMenu" class="nav-link-mobile" @expandCollapse>
        <span class="nav-link">Home</span>
        <span class="nav-link">Products</span>
        <span class="nav-link">About</span>
        <span class="nav-link">Contact</span>
        <div class="nav-control-container">
            <div class="search-container">
                <input class="search-input" placeholder="Search" type="text">
            </div>
            <button class="search-btn">
                <span class="material-symbols-outlined">search</span>
            </button>
        </div>
    </div>
</div>