<div class="bg-container" #contactPage>
    <div class="container">
        <div class="company-container">
            <h1>F-Store</h1>
            <p>Join us in transforming your living spaces with furniture that blends elegance and practicality seamlessly.</p>
        </div>
        <div class="link-options-container">
            <h3>Services</h3>
            <a (click)="scrollToHome()">Contact us</a>
            <a (click)="scrollToHome()">Media</a>
            <a (click)="scrollToHome()">Library</a>
            <a (click)="scrollToHome()">Blog</a>
            <a (click)="scrollToHome()">Help Center</a>
        </div>
        <div class="link-options-container">
            <h3>Resources</h3>
            <a (click)="scrollToHome()">Pricing</a>
            <a (click)="scrollToHome()">FAQs</a>
            <a (click)="scrollToHome()">Contact Support</a>
            <a (click)="scrollToHome()">Privacy Policy</a>
            <a (click)="scrollToHome()">Terms</a>
        </div>
        <div class="link-options-container">
            <h3>Support</h3>
            <a (click)="scrollToHome()">Contact</a>
            <a (click)="scrollToHome()">Affiliates</a>
            <a (click)="scrollToHome()">Sitemap</a>
            <a (click)="scrollToHome()">Cancellation Policy</a>
            <a (click)="scrollToHome()">Security</a>
        </div>
    </div>
</div>